@page
@model ArmisWebsite.Pages.Part.MaterialSeriesEntryModel
@{
    ViewData["Title"] = "MaterialSeriesEntry";
}
    <div class="container-fluid">
        <h1 mb-4>MaterialSeriesEntry</h1>

    </div>