@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Armis</h1>
    <p>A plating ERP developed for Cooperative plating.</p>
</div>