@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Armis</h1>
    <p>A plating ERP developed for Cooperative plating.</p>

    <div class="card">
        <div class="card card-body">
            <a class="btn btn-lg btn-outline-primary m-2">Order Entry</a>
            <a class="btn btn-lg btn-outline-primary m-2">Accounts Receivable</a>
            <a class="btn btn-lg btn-outline-primary m-2">Shop Floor</a>
        </div>
    </div>
</div>