@page "{aMessage}"
@model ArmisWebsite.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Success</h1>

    <label class="alert alert-success">@Model.Message</label>
    <hr />
    <img src="~/Images/DancingMC.gif" />
</div>