@page "{message?}"
@model ArmisWebsite.ProcessMaintenanceModel
@{
    ViewData["Title"] = "Process Maintenance";
}

<div class="container-fluid w-75">
    <h1>Create Process</h1>
    @*Preloaded message.  The message can be set to a success or danger based on what IsMessageGood is set to.*@
    @if (Model.Message != "" && Model.Message != null)
    {
        if (Model.IsMessageGood)
        {
            <div class="alert alert-success col-lg-2">
                @Model.Message
                <br />
                <a class="btn btn-info" asp-page="ProcessRevMaintenance" asp-route-aProcessId="@Model.ProcessId">Go To Rev Maint.</a>
            </div> 
            }
        else
        { <label class="alert alert-danger">@Model.Message</label>}
}
    <br />
    @*Process input*@
    <div class="form-group">
        <div class="row">
            <div class="col-lg-2 mr-1">
                <h5>Process Name: </h5>
            </div>
            <div class="col-lg-6">
                <input type="text" asp-for="ProcessName" class="form-control" form="mainForm" />
                <span asp-validation-for="ProcessName" class="alert-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <button class="btn btn-primary m-3" data-toggle="modal" data-target="#modalRevUpComment">Save</button>
    </div>
</div>

<div class="modal fade" id="modalRevUpComment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Additional Details</h5>
            </div>
            <div class="modal-body">
                <form id="mainForm" method="post">
                    <div class="form-group">
                        <label><b>Comment:</b></label>
                        <input id="txtRevUpComment" class="form-control" asp-for="Comment" autocomplete="off" onkeyup="validateRevUpCommentEmp()" />
                    </div>
                    <div class="form-group">
                        @*TODO: delete this once Azure AD Login is implemented.*@
                        <label><b>Employee Number:</b></label>
                        <input id="numRevUpEmp" class="form-control" type="number" asp-for="EmployeeId" onkeyup="validateRevUpCommentEmp()" />
                        <span id="spanEmpNumeberWarning" class="alert-danger" hidden>Not a valid Employee Number</span>
                    </div>
                    <button id="btnRevUpCommentEmp" type="submit" class="btn btn-primary m-1" disabled>Rev Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //Validation for the Rev Up Modal
    function validateRevUpCommentEmp() {
        var txtComment = document.getElementById("txtRevUpComment");
        var numEmp = document.getElementById("numRevUpEmp"); //TODO: delete this once Azure AD Login is implemented.
        var empNumWarning = document.getElementById("spanEmpNumeberWarning");
        var btnRevUp = document.getElementById("btnRevUpCommentEmp");

        if (txtComment.value.length >= 1 && numEmp.value > 0) {
            //TODO: delete this once Azure AD Login is implemented.
            //Sets up the connection to the employee controller in the API and fires off the request.
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '@Model._apiAddress' + 'api/employee/CheckIfEmployeeNumberExists/' + numEmp.value, true)
            xhr.send();

            //When the request loads, checks if the employee number exists.  If it does, the span displaying the validation message disappears and the rev up button is enabled.  If the employee number does not exist, the validation span is displayed and the rev up button is disabled.
            xhr.onload = function () {
                if (xhr.status == 200) {
                    var empNumExists = JSON.parse(xhr.responseText);
                    if (empNumExists == true) {
                        btnRevUp.disabled = false;
                        empNumWarning.hidden = true;
                    }
                    else {
                        btnRevUp.disabled = true;
                        empNumWarning.hidden = false;
                    }
                }
            };

        }
        else {
            btnRevUp.disabled = true;
            empNumWarning.hidden = true;
        }
    };
</script>