@page
@model ArmisWebsite.Pages.Quality.Inspection.SamplePlanListingModel
@{
    ViewData["Title"] = "SamplePlanListing";
}
<div class="container-fluid w-75">
    <h1>Sample Plan Listing</h1>

    @*Search bar*@
    <div class="input-group my-1">
        <input id="inputStepSearchFilter" type="text" class="form-control border-right-0" placeholder="Search..." onkeyup="searchSamplePlanList(this.value)" />
        <span class="input-group-append bg-white border-left-0">
            <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
        </span>
    </div>

    <ul id="listSamplePlans" class="list-group" style="height:42em; overflow-y:scroll;">
        @foreach (var samplePlan in Model.AllSamplePlans)
        {
            <li class="list-group-item" data-sample-plan-name="@samplePlan.PlanName">
                <a href="#samplePlanDetails-@samplePlan.SamplePlanId" data-toggle="collapse">@samplePlan.PlanName - @samplePlan.Description</a>
                <div id="samplePlanDetails-@samplePlan.SamplePlanId" class="card border border-dark collapse">
                    <partial name="/Pages/Quality/Inspection/Partials/SamplePlanTablePartial.cshtml" model="samplePlan" />
                </div>
            </li>
        }
    </ul>
</div>


<script>
    function searchSamplePlanList(searchTerm) {
        var samplePlans = document.getElementById("listSamplePlans").getElementsByTagName("li");
        for (var i = 0; i < samplePlans.length; i++) {
            if (samplePlans[i] != undefined) {
                if (samplePlans[i].dataset.samplePlanName.toLowerCase().includes(searchTerm.toLowerCase())) {
                    samplePlans[i].style.display = "block";
                }
                else {
                    samplePlans[i].style.display = "none";
                }
            }
        }
    }
</script>