@page
@{
    ViewData["Title"] = "OrderMenu";
}

<div class="container-fluid w-75">
    <h1>Order Menu</h1>

    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-5 card mx-3 ">
                    <h5>Process <i class="fas fa-clipboard-list"></i></h5>
                    <a class="btn btn-primary p-3 m-3" asp-page="OrderEntryIndex">Order Entry</a>
                    <a class="btn btn-primary p-3 m-3" asp-page="OrderLookup">Order Lookup</a>
                </div>
            </div>
        </div>
    </div>
