@page
@model ArmisWebsite.Pages.OrderEntry.OrderEntryIndexModel
@{
    ViewData["Title"] = "OrderEntryIndex";
}

<div class="container-fluid">
    <h3>Order Entry</h3>

    @*Main info entry*@
    <div class="card">
        <div class="row">

        </div>
    </div>

    @*Line items*@
    <div class="card">

    </div>

    @*Process and Cert details*@
</div>