@page
@model ArmisWebsite.ProcessMenuModel
@{
    ViewData["Title"] = "Process Menu";
}

<h1>Process Menu</h1>

<div class="row">
    <div class="col-lg card mx-3 ">
        <h5>Process</h5>
        <a class="btn btn-primary p-3 m-3" asp-page="ProcessMaintenance">Create Process</a>
        <a class="btn btn-success p-3 m-3" asp-page="ProcessRevMaintenance">Process Revision Maintenance</a>
        <a class="btn btn-info p-3 m-3" asp-page="ProcessListing">Process List</a>
    </div>
    <div class="col-lg card">
        <h5>Step</h5>
        <a class="btn btn-primary p-3 m-3" asp-page="StepMaintenance">Add Step</a>
        <a class="btn btn-success p-3 m-3" asp-page="StepMaintenance">Edit Step</a>
        <a class="btn btn-info p-3 m-3" asp-page="StepListing">Step List</a>
    </div>
    <div class="col-lg card mx-3">
        <h5>Place Holder</h5>
        <a class="btn btn-secondary p-3 m-3" asp-page="">Future Button</a>
        <a class="btn btn-secondary p-3 m-3" asp-page="">Future Button</a>
        <a class="btn btn-secondary p-3 m-3" asp-page="">Future Button</a>
    </div>
</div>
