@page
@model ArmisWebsite.ProcessMenuModel
@{
    ViewData["Title"] = "Quality Menu";
}

<h1>Quality Menu</h1>

<div class="row">
    <div class="col-lg card mx-3 ">
        <h5>Process</h5>
        <a class="btn btn-primary p-3 m-3" asp-page="ProcessMaintenance">Create Process</a>
        <a class="btn btn-primary p-3 m-3" asp-page="ProcessRevMaintenance">Process Revision Maintenance</a>
        <a class="btn btn-primary p-3 m-3" asp-page="ProcessListing">Process List</a>
    </div>
    <div class="col-lg card">
        <h5>Step</h5>
        <a class="btn btn-primary p-3 m-3" asp-page="StepMaintenance">Step Maintenance</a>
        <a class="btn btn-primary p-3 m-3" asp-page="StepListing">Step List</a>
        <a class="btn btn-primary p-3 m-3" asp-page="OperationMaintenance">Operation Maintenance</a>
    </div>
    <div class="col-lg card mx-3">
        <h5>Specification</h5>
        <a class="btn btn-primary p-3 m-3" asp-page="SpecificationCreation">Spec Maintanence</a>
        <a class="btn btn-primary p-3 m-3" asp-page="SpecificationListing">Spec Listing</a>
    </div>
</div>