@page
@model ArmisWebsite.Pages.ProcessMaintenance.SpecProcessAssignModel
@{
    ViewData["Title"] = "SpecProcessAssign";
}

<h1>Spec Process Assignment</h1>

<form method="post">
    @*Javascript will write to these field depending on what the user selects.*@
    <input id="_SpecRev" type="hidden" asp-for="SpecRev"/>
    <input id="inputSpecId" type="hidden" />
    <input id="inputSpecChoice1" type="hidden" />
    <input id="inputSpecChoice2" type="hidden" />
    <input id="inputSpecChoice3" type="hidden" />
    <input id="inputSpecChoice4" type="hidden" />
    <input id="inputSpecChoice5" type="hidden" />
    <input id="inputSpecChoice6" type="hidden" />
    <input id="inputPreBakeId" type="hidden" />
    <input id="intputPostBakeId" type="hidden" />
    <input id="inputMaskId" type="hidden" />
    <input id="inputHardness" type="hidden" />
    <input id="inputSeries" type="hidden" />
    <input id="inputAlloy" type="hidden" />
    <input id="inputCustomerId" type="hidden" />
    <input id="inputProcessId" type="hidden" />
    <input id="inputProcessRevId" type="hidden" />
</form>