@page
@model ArmisWebsite.VariableMaintenance
@{
    ViewData["Title"] = "Variable Maintenance";
}

<h1>VariableMaintenance</h1>
<body onload="@Model.GetAllVariableTemplates()">
    <form method="post">
        <table>
            <tr>
                <td>
                    <label>Variable Template: </label>
                    <select id="VarTemplateSelect" asp-items="Model.VariableTemplateOptions"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Unit of Measure: </label>
                    <input type="text" asp-for="VarUOM" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Minimum Value: </label>
                    <input type="number" asp-for="VarMin" min="0" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Maximum Value: </label>
                    <input type="number" asp-for="VarMax" min="0" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
    @foreach (var item in Model.VariableTemplateOptions)
    {
        <p>@item.Text</p>
    }
</body>


@*@section scripts
{
    <script>
        function OnPageLoad() {
            var url = "https://localhost:44316/api/stepvartemplates/GetAllStepVarTemplates";

            fetch(url).then((response) => {
                return response.text();
            })
                .then((result) => {
                     TEST(result);
                });
        }

        function TEST(data) {
            var pElement = document.getElementById("TESTAREA");

            for (var i = 0; i < data.length; i++) {
                pElement.innerHTML += data[i];
            }
            
        }

        function SetVarTemplateSelectElement(data) {
            var selectElement = document.getElementById("VarTemplateSelect");
            var i;

            for (i = 0; i < data.length; i++) {
                var option = document.createElement("option");

                option.text = data[i];
                selectElement.add(option);
            }
        }
    </script>
}*@