<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArmisWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @using ArmisWebsite.Pages.Shared.Partials
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow sticky-top mb-3" style="background-color: #949ca3 !important">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/Images/Webp.net-resizeimage.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link mr-3" asp-page="/Index"><i class="fa fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light btn btn-info mr-3" asp-page="/OrderEntry/OrderMenu">OrderEntry</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="btn-group">
                                <a role="button" class="nav-link btn btn-info text-light" asp-page="/Quality/QualityMenu">Quality</a>
                                <a role="button" class="text-light btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></a>
                                <div class="dropdown-menu">
                                    <div class="d-md-flex align-items-start justify-content-start">
                                        <div>
                                            <div class="dropdown-header text-dark font-weight-bold">Process</div>
                                            <a class="dropdown-item" asp-page="/Quality/Process/ProcessMaintenance">Create Process</a>
                                            <a class="dropdown-item" asp-page="/Quality/Process/ProcessRevMaintenance">Process Revision Maintenance</a>
                                            <a class="dropdown-item" asp-page="/Quality/Process/ProcessListing">Process List</a>
                                            <div class="dropdown-divider"></div>
                                            <div class="dropdown-header text-dark font-weight-bold">Inspection</div>
                                            <a class="dropdown-item" asp-page="/Quality/Inspection/SamplePlanEntry">Sample Plan Entry</a>
                                            <a class="dropdown-item" asp-page="/Quality/Inspection/SamplePlanListing">Sample Plan Listing</a>
                                        </div>
                                        <div>
                                            <div class="dropdown-header text-dark font-weight-bold">Step</div>
                                            <a class="dropdown-item" asp-page="/Quality/Process/StepMaintenance">Step Maintenance</a>
                                            <a class="dropdown-item" asp-page="/Quality/Process/StepListing">Step List</a>
                                            <a class="dropdown-item" asp-page="/Quality/Process/OperationMaintenance">Operation Maintenance</a>
                                            <div class="dropdown-divider"></div>
                                            <div class="dropdown-header text-dark font-weight-bold">Part</div>
                                            <a class="dropdown-item" asp-page="/Part/HardnessEntry">Hardness Entry</a>
                                            <a class="dropdown-item" asp-page="/Part/MaterialSeriesEntry">Series Entry</a>
                                            <a class="dropdown-item" asp-page="/Part/MaterialAlloyEntry">Alloy Entry</a>
                                            <a class="dropdown-item" asp-page="/Part/PartEntry">Part Entry</a>
                                        </div>
                                        <div>
                                            <div class="dropdown-header text-dark font-weight-bold">Specification</div>
                                            <a class="dropdown-item" asp-page="/Quality/Specification/SpecificationMaintenance">Spec Maintanence</a>
                                            <a class="dropdown-item" asp-page="/Quality/Specification/SpecificationListing">Spec Listing</a>
                                            <a class="dropdown-item" asp-page="/Quality/Specification/SpecProcessAssign">Spec Process Assign</a>
                                            <a class="dropdown-item" asp-page="/Quality/Specification/SpecProcessAssignListing">Spec Process Assign Listing</a>
                                            <a class="dropdown-item" asp-page="/Quality/Specification/SpecProcessAssignReview">Spec Process Assign Review</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="">Accounts Receivable</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="">Shop Floor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @*<div class="container-fluid">*@
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @*</div>*@

    <footer class="border-top footer text-light" style="background-color: #949ca3 !important">
        <div class="container">
            &copy; @DateTime.Now.ToString("yyyy") - Armis Website - <a asp-area="" tabindex="-1" asp-page="/Privacy">Privacy</a>
            <div class="ml-5 d-inline-block"><b>DESIGN IS NOT FINAL</b></div>
            <b class="float-right">@await Component.InvokeAsync("ApiConnectionCheck") [@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")] </b>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
