@page
@model ArmisWebsite.ProcessMenuModel
@{
    ViewData["Title"] = "Quality Menu";
}
<div class="container-fluid w-75">
    <h1>Quality Menu</h1>

    <div class="row">
        <div class="col-lg card mx-3 ">
            <h5>Process</h5>
            <a class="btn btn-primary p-3 m-3" asp-page="Process/ProcessMaintenance">Create Process</a>
            <a class="btn btn-primary p-3 m-3" asp-page="Process/ProcessRevMaintenance">Process Revision Maintenance</a>
            <a class="btn btn-primary p-3 m-3" asp-page="Process/ProcessListing">Process List</a>
        </div>
        <div class="col-lg card">
            <h5>Step</h5>
            <a class="btn btn-primary p-3 m-3" asp-page="Process/StepMaintenance">Step Maintenance</a>
            <a class="btn btn-primary p-3 m-3" asp-page="Process/StepListing">Step List</a>
            <a class="btn btn-primary p-3 m-3" asp-page="Process/OperationMaintenance">Operation Maintenance</a>
        </div>
        <div class="col-lg card mx-3">
            <h5>Specification</h5>
            <a class="btn btn-primary p-3 m-3" asp-page="Specification/SpecificationCreation">Spec Maintanence</a>
            <a class="btn btn-primary p-3 m-3" asp-page="Specification/SpecificationListing">Spec Listing</a>
            <a class="btn btn-primary p-3 m-3" asp-page="Specification/SpecProcessAssign">Spec Process Assign</a>
            <a class="btn btn-primary p-3 m-3" asp-page="Specification/SpecProcessAssignListing">Spec Process Assign Listing</a>
            <a class="btn btn-primary p-3 m-3" asp-page="Specification/SpecProcessAssignReview">Spec Process Assign Review</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg card mx-3 mt-1">
            <h5>Inspection</h5>
            <a class="btn btn-primary p-3 m-3" asp-page="Inspection/SamplePlanEntry">Sample Plan Entry</a>
            <a class="btn btn-primary p-3 m-3" asp-page="Inspection/SamplePlanListing">Sample Plan Listing</a>
        </div>
        <div class="col-lg card mt-1">
            <h5>Part Info</h5>
            <a class="btn btn-primary p-3 m-3" asp-page="/Part/HardnessEntry">Hardness Entry</a>
            <a class="btn btn-primary p-3 m-3" asp-page="/Part/MaterialSeriesEntry">Series Entry</a>
            <a class="btn btn-primary p-3 m-3" asp-page="/Part/MaterialAlloyEntry">Alloy Entry</a>
        </div>
        <div class="col-lg mx-3 mt-1">
        </div>
    </div>
</div>