@model string
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model != "" && Model != null)
{
    <span id="responseMessage" class="alert alert-success"><i class="fas fa-check"></i> @Model</span>


    @*TODO: Took delay away to be consistant across all pages.  Enable this and make it a standard throughout the site.*@
        <script>
        $("#responseMessage").delay(2000).fadeOut(1000);
    </script>
}

