@model ArmisWebsite.FrontEndModels.PopUpMessageModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.Text != "" && Model != null)
{
    if (Model.IsMessageGood == true)
    { <div class="my-3"><span id="responseMessage" class="alert alert-success" style="position:relative;"><i class="fas fa-check"></i> @Model.Text</span></div> }
    else if(Model.IsMessageGood == false)
    { <div class="my-3"><span id="responseMessage" class="alert alert-danger"><i class="fas fa-times"></i> @Model.Text</span></div> } 
    
    <script>
        $("#responseMessage").delay(5000).fadeOut(1000);
    </script>
}